{% for post in listPosts %}
    <li>
      <a href="{{ path('spectasonic_front_news_view_post', {'category':'values', 'slug': post.slug}) }}.html">
        {{ post.title }}
      </a>
    </li>
  {% endfor %}