<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="robots" content="noindex,nofollow">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Login - Dashboard Spectasonic</title>

        {% block stylesheets %}
            {% stylesheets
                'back/vendor/bootstrap/css/bootstrap.min.css' 
                'back/dist/css/sb-admin-2.css' 
                'back/dist/css/sb-admin-2.css' 
                'back/vendor/morrisjs/morris.css' 
                'back/vendor/font-awesome/css/font-awesome.min.css' 
                filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="container">
            {% block content %}
                {% endblock %}
        </div>

        {% javascripts
            'back/vendor/jquery/jquery.min.js'
            'back/vendor/bootstrap/js/bootstrap.min.js'
            'back/vendor/metisMenu/metisMenu.min.js'
            'back/vendor/raphael/raphael.min.js'
            'back/vendor/morrisjs/morris.min.js'
            'back/data/morris-data.js'
            'back/dist/js/sb-admin-2.js'            
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </body>

</html>
